body{
	height: 100%;
	background:#F5F5F5;
	color:black;
	font: 13px;
	font-family: 'Helvetica', sans-serif;
}

a{
	text-decoration: underline;
	color:#98D603;
}

span{
	font-weight: bold;
	color :grey;
}

li a{
	text-decoration: none;
	color:#98D603;
}

li a:hover{
	color: #FFF;
	padding: 10px 0;
}

li a:active{
	color: #FFF;
}

.rightnav{
	color: white;
	float: right;
}

.nav {
	background-color: #30353D;
	overflow: hidden;
	font-size: 9px;
	margin-bottom: 20px;
	position: fixed;
	height: 45px;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid white;
	margin-bottom: 30%;
}

.nav li {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 2px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	display: inline-block;
	list-style: none;
}

.page {
	width: 70%;
	height: auto;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	text-align: justify;
	background: white;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.titre{
	width: auto;
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	color: #98D603;
	background: #30353D;
	text-transform: uppercase;
}

.content{
	padding: 6% 10%;
	line-height: 25px;
}

.diez{
	font-size: 25px;
	color: white;
	font-family: arial;
}

.dieznoir{
	font-size: 25px;
	color: black;
	font-family: arial;
}

.code{
	padding: 2em;
	margin: 2em;
	font-family: courier;
	color: white;
	background: #30353D;
	text-transform: none;
	text-align: justify;
}

.screen{
	margin: 0 auto;
	border-radius: 3px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.etape{
	margin: 2em;
	padding: 5px;
	background-color: #f5f5f5;
	border: 1px solid #838383;
	text-align: left;
}

.info{
	color:#fa4f93;
}

.legend{
	text-align: justify;
	margin: 2em;
	padding: 10px;
	background-color: #ffeaea;
	border: 3px solid #e34747;
	border-radius: 5px;
}

.bigred{
	color: #e34747;
	font-weight: bold;
	font-size: 20px;
}

.border{
	color: black;
	border-radius: 4px;
	border: 2px solid black;
	padding: 5px;
}
